@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

.navbar {
    background-color: white;
    font-family: 'Noto Serif TC', serif;
    padding: 1em;
    position: fixed;
    width: 100%;
}

.brand-logo {
    width: 7em;
    height: 7em;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
