@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

.navbar {
    background-color: rgb(55, 195, 238);
    font-family: 'Noto Serif TC', serif;
    font-size: 2.5em;
    padding: 1em;
    box-shadow: 1px 0.5px 0.5px 1px rgb(207, 202, 202);
    position: fixed;
    width: 100%;
}

.brand-logo {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}